@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --primary-color: #F3F5F4;
    --secondary-color: #ACDBFD;
    --accent-color: #128AFB;
    --text-alt-color: #2A2B2B;

    --success-color: #28A745;
    --danger-color: #D0181B;
    --warning-color: #FFC107;
    --info-color: #33445C;

    --white-color: #FFFFFF;
    --light-gray-color: #C8C8C8;
    --medium-gray-color: #9C9C9C;
    --dark-gray-color: #777777;
    --black-color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
