.app-main {
  flex: 1;
  min-width: 0;
  background-color: var(--white-color);
}

.app-content {
  max-width: var(--layout-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem 3rem;
  box-sizing: border-box;
}

.app-content.profile-no-padding-bottom {
  max-width: none;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-content.battle-full-screen {
  max-width: none;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: calc(100vh - 80px); /* Height minus navbar */
}

.app-content app-breadcrumb {
  display: block;
  margin-bottom: 1rem;
}
