.app-main {
  flex: 1;
  background-color: var(--white-color);
}

.app-content {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: var(--page-content-padding-top) 2rem 3rem;
}

.app-content.profile-no-padding-bottom {
  max-width: none;
  width: 100%;
  margin: 0;
  padding: 0 0 3rem;
  box-sizing: border-box;
}

.app-content app-breadcrumb {
  display: block;
  margin-bottom: 1rem;
}
