@if (showLayout()) {
  <app-header></app-header>
}
<main class="app-main">
  @if (showLayout()) {
    <div class="app-content" [class.profile-no-padding-bottom]="isProfilePage()" [class.battle-full-screen]="isBattlePage()">
      @if (showTopBreadcrumb()) {
        <app-breadcrumb></app-breadcrumb>
      }
      <router-outlet></router-outlet>
    </div>
  } @else {
    <router-outlet></router-outlet>
  }
</main>
@if (showLayout() && showFooter()) {
  <app-footer></app-footer>
}

<app-daily-noti-modal
  [open]="showDailyRewardsModal()"
  [notification]="pendingDailyRewards()"
  (closeModal)="onCloseDailyRewardsModal()">
</app-daily-noti-modal>

<app-friend-request-noti-modal
  [open]="showFriendRequestModal()"
  [requests]="pendingFriendRequests()"
  (closeModal)="onCloseFriendRequestModal()"
  (acceptRequest)="onAcceptFriendRequest($event)"
  (rejectRequest)="onRejectFriendRequest($event)">
</app-friend-request-noti-modal>